<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static">

    <title>QueenFlossy RDH Login</title>
</head>

<body class="container-fluid" class="img-fluid">
    <section class="vh-100" style="background-color: #361a3a;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="{{url_for('static', filename='Tooth Image 2.jpg')}}" alt="login form"
                                    class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-8 col-lg-7 d-flex align-items-center">
                                <form action="/user/login/process" method="post">
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                    {% for category, message in messages if category == "login" %}
                                    <p>{{message}}</p>
                                    {% endfor %}
                                    {% endif %}
                                    {% endwith %}
                                    <div class="container-fluid ">
                                        <p>
                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign
                                            into
                                            your account</h5>
                                        </p>
                                        <p><label for="email" class="form-label"> Email:</label></p>
                                        <p><input type="email" name="email" id="email"></p>
                                        <p><label for="password" class="form-label">Password:</label></p>
                                        <p><input type="password" name="password" id="password"></p>
                                        <button class="btn btn-dark btn-sm " type="submit">Login</button>
                                        <a class="small text-muted" href="#!">Forgot password?</a>
                                    </div>
                                </form>

                                <div class="container">
                                    <div>
                                        <p>Don't have an account?</p>
                                        <!-- Trigger the modal with a button -->
                                        <p><button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                                data-target="#myModal">Register
                                            </button></p>
                                        <p><a href="#!">Privacy policy</a></p>
                                        <p><a href="#!">Terms</a></p>
                                        <a href="mailto:latonyastevensonwright@gmail.com">
                                            <i class="fa fa-envelope w3-hover-opacity"></i>
                                        </a>
                                        <a href="https://instagram.com/Queen_Flossy_RDH">
                                            <i class="fa fa-instagram w3-hover-opacity"></i>
                                        </a>
                                        <i class="fa fa-linkedin w3-hover-opacity"></i>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" role="dialog" style="color: #361a3a;">
                                        <div class="modal-dialog" style="color: #361a3a;">
                                            <!-- Modal content-->
                                            <div class="modal-content" style="color: #361a3a;">
                                                <div class="modal-header" style="color: #361a3a;">
                                                    <h4 class="modal-title" class="d-flex align-items-center mb-3 pb-1">
                                                        Join The
                                                        Conversation...
                                                    </h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        style="color: #361a3a;">&times;</button>
                                                </div>
                                                <div class="modal-body" style="color: #361a3a;">
                                                    <form action="/user/register/process" method="post"
                                                        class="card col-14 mx-auto  text-black p-3 login">
                                                        <h2>Register</h2>
                                                        {% with messages =
                                                        get_flashed_messages(with_categories=true) %}
                                                        {% if messages %}
                                                        {% for category, message in messages if category ==
                                                        "register"
                                                        %}
                                                        <p>Invalid Registration: </p>
                                                        <p>{{message}}</p>
                                                        {% endfor %}
                                                        {% endif %}
                                                        {% endwith %}
                                                        <div class="form-group mb-3" style="color: #361a3a;">
                                                            <label for="first_name" class="form-label">First
                                                                Name:</label>
                                                            <input type="text" name="first_name" id="first_name"
                                                                class="form-control">
                                                            <label for="last_name" class="form-label">Last
                                                                Name:</label>
                                                            <input type="text" name="last_name" id="last_name"
                                                                class="form-control">
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <label for="email" class="form-label">Email:</label>
                                                            <input type="text" name="email" id="email"
                                                                class="form-control">
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <label for="password" class="form-label">Password:</label>
                                                            <input type="password" name="password" id="password"
                                                                class="form-control">
                                                            <label for="confirm" class="form-label">Confirm
                                                                Password:</label>
                                                            <input type="password" name="confirm_password"
                                                                id="confirm_password" class="form-control">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-default"
                                                                style="color: #361a3a;">
                                                                Join</button>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>